---
title: Įdarbinimo i9 tikrinimas
description: Imigracinės reformos ir kontrolės įstatymas reikalauja, kad JAV darbdaviai tikrintų naujai samdomų darbuotojų įdarbinimo tinkamumo būseną.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 7b5d0bfdee219b5003a3fdf62f81890bb81aecad
ms.sourcegitcommit: f5e31c34640add6d40308ac1365cc0ee60e60e24
ms.translationtype: HT
ms.contentlocale: lt-LT
ms.lasthandoff: 12/08/2020
ms.locfileid: "4694217"
---
# <a name="employment-verification-i9-verification"></a>Įdarbinimo i9 tikrinimas

[!include [banner](../../../includes/banner.md)]

Imigracinės reformos ir kontrolės įstatymas reikalauja, kad JAV darbdaviai tikrintų naujai samdomų darbuotojų įdarbinimo tinkamumo būseną. Ši procedūra padės žingsnis po žingsnio atlikti I-9 patikrinimui reikalingų dokumentų įrašymo veiksmus. Šiai procedūrai naudokite įmonę USMF.

1. Pasirinkite Personalas > Darbuotojai > Darbuotojai.
2. Norėdami rasti įrašus, naudokite spartųjį filtrą. Pvz., filtruokite lauką „Pavadinimas“ reikšme „Vince“.
3. Pasirinkite darbuotoją. Pavyzdys: Vince Prado
4. Išplėskite „FastTab“ asmeninę informaciją.
5. Spustelėkite „Identifikacijos numeriai“.
6. Spustelėkite Naujas.
7. Pasirinkite įrašomą identifikacijos tipą. Pavyzdys: pasas
8. Lauke Numeris surinkite reikšmę.
9. Lauke Pagrindinis pasirinkite Taip.
10. Lauke „Aprašas“ įveskite trumpą identifikacijos įrašo aprašą.
11. Lauke „Išdavusi institucija“ pasirinkite instituciją, kuri išdavė darbuotojo identifikacijos formą. Pavyzdys: vyriausybė
12. Įveskite datą, kada išdavusioji institucija išdavė darbuotojo identifikacijos formą. Pavyzdys: 2011-02-15
13. Įveskite identifikacijos galiojimo pabaigos datą. Pavyzdys: 2021-02-15
14. Spustelėkite Įrašyti.
15. Uždarykite puslapį.
16. Spustelėkite skirtuką Užimtumas.
17. Spustelėkite „I-9“.
18. Spustelėkite Naujas.
19. Lauke „Tinkamumas dirbti“ pasirinkite parinktį.
    * Jei darbuotojas nėra Jungtinių Amerikos Valstijų pilietis, turite įvesti darbuotojo gyventojo iš užsienio arba leidimo numerį.  
20. Pasirinkite parinktį „GroupListA“.
    * Pasirenkamas sąrašas priklauso nuo to, kokią identifikavimo formą pateikę darbuotojas. Darbuotojas turi pateikti vieną A sąrašo dokumentą arba vieną dokumentą iš B ir C sąrašo. Jei darbuotojas pateikia pasą, galima rinktis A sąrašą. Tačiau, jei darbuotojas pateikia tik vairuotojo pažymėjimą ir socialinio draudimo kortelę, būtina rinktis B ir C sąrašą.  
21. Lauke „I-9 dokumento tipas“ pasirinkite darbuotojo pateiktą dokumento tipą.
22. Lauke Dokumento numeris įveskite arba pasirinkite reikšmę.
23. Spustelėkite Įrašyti.



[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]