---
title: Įdarbinimo i9 tikrinimas
description: Imigracinės reformos ir kontrolės įstatymas reikalauja, kad JAV darbdaviai tikrintų naujai samdomų darbuotojų įdarbinimo tinkamumo būseną.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: b76102111a8506882f2301d76856ae1a34a7c704
ms.sourcegitcommit: 3a7f1fe72ac08e62dda1045e0fb97f7174b69a25
ms.translationtype: MT
ms.contentlocale: lt-LT
ms.lasthandoff: 01/31/2022
ms.locfileid: "8065686"
---
# <a name="employment-verification-i9-verification"></a>Įdarbinimo i9 tikrinimas

[!include [banner](../../../includes/banner.md)]


[!INCLUDE [PEAP](../../../../../includes/peap-1.md)]

Imigracinės reformos ir kontrolės įstatymas reikalauja, kad JAV darbdaviai tikrintų naujai samdomų darbuotojų įdarbinimo tinkamumo būseną. Ši procedūra padės žingsnis po žingsnio atlikti I-9 patikrinimui reikalingų dokumentų įrašymo veiksmus. Šiai procedūrai naudokite įmonę USMF.

1. Eiti į **Žmogiškieji ištekliai \> Darbininkai \> Darbuotojai**.
2. Norėdami rasti įrašus, naudokite spartųjį filtrą. Pavyzdžiui, filtruokite pagal reikšmę **Vince** už **vardas** lauke.
3. Pasirinkite darbuotoją. Pavyzdžiui, pasirinkite **Vincas Prado**.
4. Pasirinkite **Asmeninė informacija** FastTab.
5. Pasirinkite **Identifikaciniai numeriai**.
6. Pasirinkite **Nauja**.
7. Pasirinkite įrašomą identifikavimo tipą. Pavyzdžiui, pasirinkite **Pasas**.
8. Viduje konors **Skaičius** lauke įveskite reikšmę.
9. Viduje konors **Pirminis** lauką, pasirinkite **Taip**.
10. Viduje konors **apibūdinimas** laukelyje įveskite trumpą identifikavimo įrašo aprašymą.
11. Viduje konors **Išduodanti agentūra** lauke pasirinkite įstaigą, kuri išdavė darbuotojo tapatybės dokumentą. Pavyzdžiui, pasirinkite **Vyriausybė**.
12. Įveskite datą, kai išduodanti agentūra išdavė darbuotojui tapatybės dokumentą. Pavyzdžiui, įveskite **2011-02-15** (2011 m. vasario 15 d.).
13. Įveskite identifikacijos galiojimo pabaigos datą. Pavyzdžiui, įveskite **2021-02-15** (2021 m. vasario 15 d.).
14. Pasirinkite **Įrašyti**.
15. Uždarykite puslapį.
16. Pasirinkite **Užimtumas** skirtukas.
17. Pasirinkite **I-9**.
18. Pasirinkite **Nauja**.
19. Viduje konors **Tinkamumas dirbti** lauke, pasirinkite parinktį.

    Jei darbuotojas nėra JAV pilietis ar pilietis, turite įvesti darbuotojo nuolatinį užsienietį arba priėmimo numerį.

20. Pasirinkite **GroupListA** variantas.

    Pasirinktas sąrašas priklauso nuo darbuotojo pateiktos identifikacijos formos. Darbuotojas turi pateikti vieną dokumentą iš sąrašo A arba vieną dokumentą iš sąrašo B ir C. Pavyzdžiui, jei darbuotojas pateikė pasą, galite pasirinkti A sąrašą. Tačiau jei darbuotojas pateikė tik vairuotojo pažymėjimą ir socialinio draudimo pažymėjimą. kortelę, turite pasirinkti B ir C sąrašą.

21. Viduje konors **I-9 dokumento tipas** lauke pasirinkite darbuotojo pateikto dokumento tipą.
22. Viduje konors **Dokumento numeris** lauką, įveskite arba pasirinkite reikšmę.
23. Pasirinkite **Įrašyti**.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
