---
title: Įdarbinimo i9 tikrinimas
description: Imigracinės reformos ir kontrolės įstatymas reikalauja, kad JAV darbdaviai tikrintų naujai samdomų darbuotojų įdarbinimo tinkamumo būseną.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: ea77f112413a5b7d5c96768ad46fdb361023bd84
ms.sourcegitcommit: 27475081f3d2d96cf655b6afdc97be9fb719c04d
ms.translationtype: MT
ms.contentlocale: lt-LT
ms.lasthandoff: 01/12/2022
ms.locfileid: "7964888"
---
# <a name="employment-verification-i9-verification"></a>Įdarbinimo i9 tikrinimas

[!include [banner](../../../includes/banner.md)]

Imigracinės reformos ir kontrolės įstatymas reikalauja, kad JAV darbdaviai tikrintų naujai samdomų darbuotojų įdarbinimo tinkamumo būseną. Ši procedūra padės žingsnis po žingsnio atlikti I-9 patikrinimui reikalingų dokumentų įrašymo veiksmus. Šiai procedūrai naudokite įmonę USMF.

1. Eikite **į Personalo \>\> darbuotojai**.
2. Norėdami rasti įrašus, naudokite spartųjį filtrą. Pavyzdžiui, filtruokite pagal **Lauko Pavadinimas vertę** **Vince**.
3. Pasirinkite darbuotoją. Pavyzdžiui, pasirinkite **Vince** Prado.
4. Pasirinkite asmeninės **informacijos** "FastTab".
5. Pasirinkite **identifikavimo** numerius.
6. Pasirinkite **Nauja**.
7. Pasirinkite įrašo identifikavimo tipą. Pavyzdžiui, pasirinkite **Pasas**.
8. Lauke **Numeris** įveskite vertę.
9. Lauke **Pirminis** pasirinkite **Taip**.
10. Aprašymo **lauke** įveskite trumpą identifikavimo įrašo aprašymą.
11. Lauke Išdavusi **agentūra** pasirinkite agentūrą, kuri išdavė darbuotojui identifikavimo formą. Pvz., pasirinkite **Vyriausybė**.
12. Įvesti datą, kurią išdavusi agentūra išdavė darbuotojui identifikavimo duomenis. Pavyzdžiui, įveskite **2011-15-02** (2011 m. vasario 15 d.).
13. Įveskite identifikacijos galiojimo pabaigos datą. Pavyzdžiui, įveskite **2021 m. vasario 15** d. (2021 m. vasario 15 d.).
14. Pasirinkite **Įrašyti**.
15. Uždarykite puslapį.
16. Pasirinkite **skirtuką** Įdarbinimas.
17. Pasirinkite **I-9.**
18. Pasirinkite **Nauja**.
19. Lauke **Tinkamumo dirbti** pasirinkite pasirinktį.

    Jei darbuotojas nėra Jungtinių Valstijų pilietis, turite įvesti darbuotojo užsieniečio arba leidimo numerį.

20. Pasirinkite parinktį **GroupListA**.

    Jūsų pasirinkti sąrašas priklauso nuo identifikavimo formos, kurią pateikė darbuotojas. Darbuotojas turi pateikti vieną A sąrašo dokumentą arba vieną dokumentą iš B ir C sąrašo. Pavyzdžiui, jei darbuotojas pateikė pasą, galite pasirinkti A sąrašą. Tačiau, jei darbuotojas pateikė tik vairuotojo licenciją ir socialinio draudimo kortelę, turite pasirinkti B sąrašą ir C sąrašą.

21. Lauke **I-9 dokumento** tipas pasirinkite darbuotojo pateiktą dokumento tipą.
22. Lauke **Dokumento numeris** įveskite arba pasirinkite vertę.
23. Pasirinkite **Įrašyti**.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
