---
title: Įdarbinimo i9 tikrinimas
description: Imigracinės reformos ir kontrolės įstatymas reikalauja, kad JAV darbdaviai tikrintų naujai samdomų darbuotojų įdarbinimo tinkamumo būseną.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 7b5d0bfdee219b5003a3fdf62f81890bb81aecad
ms.sourcegitcommit: f5e31c34640add6d40308ac1365cc0ee60e60e24
ms.translationtype: HT
ms.contentlocale: lt-LT
ms.lasthandoff: 12/08/2020
ms.locfileid: "4694217"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="da0be-103">Įdarbinimo i9 tikrinimas</span><span class="sxs-lookup"><span data-stu-id="da0be-103">Employment verification i9 verification</span></span>

[!include [banner](../../../includes/banner.md)]

<span data-ttu-id="da0be-104">Imigracinės reformos ir kontrolės įstatymas reikalauja, kad JAV darbdaviai tikrintų naujai samdomų darbuotojų įdarbinimo tinkamumo būseną.</span><span class="sxs-lookup"><span data-stu-id="da0be-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="da0be-105">Ši procedūra padės žingsnis po žingsnio atlikti I-9 patikrinimui reikalingų dokumentų įrašymo veiksmus.</span><span class="sxs-lookup"><span data-stu-id="da0be-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="da0be-106">Šiai procedūrai naudokite įmonę USMF.</span><span class="sxs-lookup"><span data-stu-id="da0be-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="da0be-107">Pasirinkite Personalas > Darbuotojai > Darbuotojai.</span><span class="sxs-lookup"><span data-stu-id="da0be-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="da0be-108">Norėdami rasti įrašus, naudokite spartųjį filtrą.</span><span class="sxs-lookup"><span data-stu-id="da0be-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="da0be-109">Pvz., filtruokite lauką „Pavadinimas“ reikšme „Vince“.</span><span class="sxs-lookup"><span data-stu-id="da0be-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="da0be-110">Pasirinkite darbuotoją.</span><span class="sxs-lookup"><span data-stu-id="da0be-110">Select the employee.</span></span> <span data-ttu-id="da0be-111">Pavyzdys: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="da0be-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="da0be-112">Išplėskite „FastTab“ asmeninę informaciją.</span><span class="sxs-lookup"><span data-stu-id="da0be-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="da0be-113">Spustelėkite „Identifikacijos numeriai“.</span><span class="sxs-lookup"><span data-stu-id="da0be-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="da0be-114">Spustelėkite Naujas.</span><span class="sxs-lookup"><span data-stu-id="da0be-114">Click New.</span></span>
7. <span data-ttu-id="da0be-115">Pasirinkite įrašomą identifikacijos tipą.</span><span class="sxs-lookup"><span data-stu-id="da0be-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="da0be-116">Pavyzdys: pasas</span><span class="sxs-lookup"><span data-stu-id="da0be-116">Example: Passport</span></span>
8. <span data-ttu-id="da0be-117">Lauke Numeris surinkite reikšmę.</span><span class="sxs-lookup"><span data-stu-id="da0be-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="da0be-118">Lauke Pagrindinis pasirinkite Taip.</span><span class="sxs-lookup"><span data-stu-id="da0be-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="da0be-119">Lauke „Aprašas“ įveskite trumpą identifikacijos įrašo aprašą.</span><span class="sxs-lookup"><span data-stu-id="da0be-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="da0be-120">Lauke „Išdavusi institucija“ pasirinkite instituciją, kuri išdavė darbuotojo identifikacijos formą.</span><span class="sxs-lookup"><span data-stu-id="da0be-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="da0be-121">Pavyzdys: vyriausybė</span><span class="sxs-lookup"><span data-stu-id="da0be-121">Example: Government</span></span>
12. <span data-ttu-id="da0be-122">Įveskite datą, kada išdavusioji institucija išdavė darbuotojo identifikacijos formą.</span><span class="sxs-lookup"><span data-stu-id="da0be-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="da0be-123">Pavyzdys: 2011-02-15</span><span class="sxs-lookup"><span data-stu-id="da0be-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="da0be-124">Įveskite identifikacijos galiojimo pabaigos datą.</span><span class="sxs-lookup"><span data-stu-id="da0be-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="da0be-125">Pavyzdys: 2021-02-15</span><span class="sxs-lookup"><span data-stu-id="da0be-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="da0be-126">Spustelėkite Įrašyti.</span><span class="sxs-lookup"><span data-stu-id="da0be-126">Click Save.</span></span>
15. <span data-ttu-id="da0be-127">Uždarykite puslapį.</span><span class="sxs-lookup"><span data-stu-id="da0be-127">Close the page.</span></span>
16. <span data-ttu-id="da0be-128">Spustelėkite skirtuką Užimtumas.</span><span class="sxs-lookup"><span data-stu-id="da0be-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="da0be-129">Spustelėkite „I-9“.</span><span class="sxs-lookup"><span data-stu-id="da0be-129">Click I-9.</span></span>
18. <span data-ttu-id="da0be-130">Spustelėkite Naujas.</span><span class="sxs-lookup"><span data-stu-id="da0be-130">Click New.</span></span>
19. <span data-ttu-id="da0be-131">Lauke „Tinkamumas dirbti“ pasirinkite parinktį.</span><span class="sxs-lookup"><span data-stu-id="da0be-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="da0be-132">Jei darbuotojas nėra Jungtinių Amerikos Valstijų pilietis, turite įvesti darbuotojo gyventojo iš užsienio arba leidimo numerį.</span><span class="sxs-lookup"><span data-stu-id="da0be-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="da0be-133">Pasirinkite parinktį „GroupListA“.</span><span class="sxs-lookup"><span data-stu-id="da0be-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="da0be-134">Pasirenkamas sąrašas priklauso nuo to, kokią identifikavimo formą pateikę darbuotojas.</span><span class="sxs-lookup"><span data-stu-id="da0be-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="da0be-135">Darbuotojas turi pateikti vieną A sąrašo dokumentą arba vieną dokumentą iš B ir C sąrašo. Jei darbuotojas pateikia pasą, galima rinktis A sąrašą.</span><span class="sxs-lookup"><span data-stu-id="da0be-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="da0be-136">Tačiau, jei darbuotojas pateikia tik vairuotojo pažymėjimą ir socialinio draudimo kortelę, būtina rinktis B ir C sąrašą.</span><span class="sxs-lookup"><span data-stu-id="da0be-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="da0be-137">Lauke „I-9 dokumento tipas“ pasirinkite darbuotojo pateiktą dokumento tipą.</span><span class="sxs-lookup"><span data-stu-id="da0be-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="da0be-138">Lauke Dokumento numeris įveskite arba pasirinkite reikšmę.</span><span class="sxs-lookup"><span data-stu-id="da0be-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="da0be-139">Spustelėkite Įrašyti.</span><span class="sxs-lookup"><span data-stu-id="da0be-139">Click Save.</span></span>

