--- 
title: "Tinkamumo įdarbinti tikrinimas naudojant formą I-9"
description: "Imigracinės reformos ir kontrolės įstatymas reikalauja, kad JAV darbdaviai tikrintų naujai samdomų darbuotojų įdarbinimo tinkamumo būseną."
author: ShielaSogge
manager: AnnBe
ms.date: 06/23/2016
ms.topic: business-process
ms.prod: 
ms.service: dynamics-ax-applications
ms.technology: 
audience: Application User
ms.reviewer: rschloma
ms.search.scope: Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: AX 7.0.0
ms.translationtype: HT
ms.sourcegitcommit: 663da58ef01b705c0c984fbfd3fce8bc31be04c6
ms.openlocfilehash: 0841cd664a842880f24c30090a33d846b0c08ac4
ms.contentlocale: lt-lt
ms.lasthandoff: 08/29/2017

---
# <a name="employment-verification-using-form-i-9"></a><span data-ttu-id="12e89-103">Tinkamumo įdarbinti tikrinimas naudojant formą I-9</span><span class="sxs-lookup"><span data-stu-id="12e89-103">Employment verification using form I-9</span></span>

[!include[task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="12e89-104">Imigracinės reformos ir kontrolės įstatymas reikalauja, kad JAV darbdaviai tikrintų naujai samdomų darbuotojų įdarbinimo tinkamumo būseną.</span><span class="sxs-lookup"><span data-stu-id="12e89-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="12e89-105">Ši procedūra padės žingsnis po žingsnio atlikti I-9 patikrinimui reikalingų dokumentų įrašymo veiksmus.</span><span class="sxs-lookup"><span data-stu-id="12e89-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="12e89-106">Šiai procedūrai naudokite įmonę USMF.</span><span class="sxs-lookup"><span data-stu-id="12e89-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="12e89-107">Pasirinkite Personalas > Darbuotojai > Darbuotojai.</span><span class="sxs-lookup"><span data-stu-id="12e89-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="12e89-108">Norėdami rasti įrašus, naudokite spartųjį filtrą.</span><span class="sxs-lookup"><span data-stu-id="12e89-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="12e89-109">Pvz., filtruokite lauką „Pavadinimas“ reikšme „Vince“.</span><span class="sxs-lookup"><span data-stu-id="12e89-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="12e89-110">Pasirinkite darbuotoją.</span><span class="sxs-lookup"><span data-stu-id="12e89-110">Select the employee.</span></span> <span data-ttu-id="12e89-111">Pavyzdys: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="12e89-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="12e89-112">Išplėskite „FastTab“ asmeninę informaciją.</span><span class="sxs-lookup"><span data-stu-id="12e89-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="12e89-113">Spustelėkite „Identifikacijos numeriai“.</span><span class="sxs-lookup"><span data-stu-id="12e89-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="12e89-114">Spustelėkite Naujas.</span><span class="sxs-lookup"><span data-stu-id="12e89-114">Click New.</span></span>
7. <span data-ttu-id="12e89-115">Pasirinkite įrašomą identifikacijos tipą.</span><span class="sxs-lookup"><span data-stu-id="12e89-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="12e89-116">Pavyzdys: pasas</span><span class="sxs-lookup"><span data-stu-id="12e89-116">Example: Passport</span></span>
8. <span data-ttu-id="12e89-117">Lauke Numeris surinkite reikšmę.</span><span class="sxs-lookup"><span data-stu-id="12e89-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="12e89-118">Lauke Pagrindinis pasirinkite Taip.</span><span class="sxs-lookup"><span data-stu-id="12e89-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="12e89-119">Lauke „Aprašas“ įveskite trumpą identifikacijos įrašo aprašą.</span><span class="sxs-lookup"><span data-stu-id="12e89-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="12e89-120">Lauke „Išdavusi institucija“ pasirinkite instituciją, kuri išdavė darbuotojo identifikacijos formą.</span><span class="sxs-lookup"><span data-stu-id="12e89-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="12e89-121">Pavyzdys: vyriausybė</span><span class="sxs-lookup"><span data-stu-id="12e89-121">Example: Government</span></span>
12. <span data-ttu-id="12e89-122">Įveskite datą, kada išdavusioji institucija išdavė darbuotojo identifikacijos formą.</span><span class="sxs-lookup"><span data-stu-id="12e89-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="12e89-123">Pavyzdys: 2011-02-15</span><span class="sxs-lookup"><span data-stu-id="12e89-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="12e89-124">Įveskite identifikacijos galiojimo pabaigos datą.</span><span class="sxs-lookup"><span data-stu-id="12e89-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="12e89-125">Pavyzdys: 2021-02-15</span><span class="sxs-lookup"><span data-stu-id="12e89-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="12e89-126">Spustelėkite Įrašyti.</span><span class="sxs-lookup"><span data-stu-id="12e89-126">Click Save.</span></span>
15. <span data-ttu-id="12e89-127">Uždarykite puslapį.</span><span class="sxs-lookup"><span data-stu-id="12e89-127">Close the page.</span></span>
16. <span data-ttu-id="12e89-128">Spustelėkite skirtuką Užimtumas.</span><span class="sxs-lookup"><span data-stu-id="12e89-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="12e89-129">Spustelėkite „I-9“.</span><span class="sxs-lookup"><span data-stu-id="12e89-129">Click I-9.</span></span>
18. <span data-ttu-id="12e89-130">Spustelėkite Naujas.</span><span class="sxs-lookup"><span data-stu-id="12e89-130">Click New.</span></span>
19. <span data-ttu-id="12e89-131">Lauke „Tinkamumas dirbti“ pasirinkite parinktį.</span><span class="sxs-lookup"><span data-stu-id="12e89-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="12e89-132">Jei darbuotojas nėra Jungtinių Amerikos Valstijų pilietis, turite įvesti darbuotojo gyventojo iš užsienio arba leidimo numerį.</span><span class="sxs-lookup"><span data-stu-id="12e89-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="12e89-133">Pasirinkite parinktį „GroupListA“.</span><span class="sxs-lookup"><span data-stu-id="12e89-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="12e89-134">Pasirenkamas sąrašas priklauso nuo to, kokią identifikavimo formą pateikę darbuotojas.</span><span class="sxs-lookup"><span data-stu-id="12e89-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="12e89-135">Darbuotojas turi pateikti vieną A sąrašo dokumentą arba vieną dokumentą iš B ir C sąrašo. Jei darbuotojas pateikia pasą, galima rinktis A sąrašą.</span><span class="sxs-lookup"><span data-stu-id="12e89-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="12e89-136">Tačiau, jei darbuotojas pateikia tik vairuotojo pažymėjimą ir socialinio draudimo kortelę, būtina rinktis B ir C sąrašą.</span><span class="sxs-lookup"><span data-stu-id="12e89-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="12e89-137">Lauke „I-9 dokumento tipas“ pasirinkite darbuotojo pateiktą dokumento tipą.</span><span class="sxs-lookup"><span data-stu-id="12e89-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="12e89-138">Lauke Dokumento numeris įveskite arba pasirinkite reikšmę.</span><span class="sxs-lookup"><span data-stu-id="12e89-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="12e89-139">Spustelėkite Įrašyti.</span><span class="sxs-lookup"><span data-stu-id="12e89-139">Click Save.</span></span>


